.BuildControl {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.Buttons {
    display: flex;
}
